/* Variables */
:root {
    --primaryclr: #212529;
    --secondaryclr: #496F7A;
    --secondarylightclr: #7c99a1;
    --accentclr: #97504D;
    --textlightclr: #d9d5d2;
    --serif: 'Libre Baskerville', serif;
    --sans-serif: 'Montserrat', sans-serif;
}

/* Main style */
body::before {
    display: block;
    content: '';
    height: 60px;
}

p, 
ul,
.lead {
    font-family: var(--sans-serif);
}

h1,
h2,
h3,
.navbar-brand,
.navbar-item {
    font-family: var(--serif);
}

a, 
a:hover {
    text-decoration: none;
    color: var(--textlightclr);
}

/* Buttons */
.btn-acc-round {
    background-color: var(--accentclr);
    border: 5px solid var(--accentclr);
    border-radius: 50%;
    color: var(--textlightclr);
    font-weight: 500;
    margin: 15px;
}

.btn-acc {
    margin-left: auto;
    background-color: var(--accentclr);
    border: 5px solid var(--accentclr);
    font-family: var(--sans-serif);
    color: var(--textlightclr);
    font-weight: 500;
    margin-left: 20px;
}

.contact-cust,
.btn-acc-round:hover,
.btn-acc:hover {
    background-color: var(--secondarylightclr);
    border: 5px solid var(--secondarylightclr);
    color: var(--textlightclr);
    box-shadow: 0 0 11px rgba(33,33,33,.5); 
}

/* Navigation bar and Hero section */
.nav-link {
    color: var(--textlightclr);
}

.nav-link:hover {
    color: var(--secondarylightclr);
    padding-bottom: 2px;
    border-bottom: 1px solid var(--secondarylightclr);
}

nav [class*="fa-"] {
    font-size: 200%;
    color: var(--secondaryclr);
    padding: 3px 5px; 
}

.navbar-brand [class*="fa-"] {
    font-size: 100%;
}

nav [class*="fa-"]:hover {
    color: var(--secondarylightclr);
}

.navbar-toggler,
.navbar-toggler:hover {
    border: none;
} 

.text-cust {
    color: var(--secondarylightclr);
}

/* Cards */
.card {
    height: fit-content;
}

.card-proj p {
    font-weight: 400;
}

.card-bg-light {
    background-color: var(--textlightclr);
    border: 1px solid var(--textlightclr);
    border-radius: 5px;
}

.card-bg-dark {
    background-color: var(--primaryclr);
    border: 1px solid var(--primaryclr);
    border-radius: 5px;
    color: var(--textlightclr);
}

.card img {
    width: 230px;
    height: auto;
    border-radius: 5px;
}

.card-text ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--sans-serif);
}

.JK-cust:hover {
    color: var(--secondarylightclr);
    padding-bottom: 1px;
    border-bottom: 1px solid var(--secondarylightclr);
}

/* Skills section */
#skills .lead {
    margin-top: 20px;
    line-height: 1.3;
}

.progress {
    margin-top: 20px;
    font-family: var(--sans-serif);
    font-size: 15px;
    font-weight: 400;
    background-color: var(--textlightclr);
    height: 25px;
}

.progress-bar {
    background-color: var(--secondaryclr);
}

#skills img, #about img {
    width: 400px;
    height: auto;
}

/* About section */
#about ul {
    margin-top: 30px;
    list-style-type: none;
    font-weight: 400;
}


#about li {
    margin-bottom: 20px;
}

/* Contact me */
.contact-input {
    font-family: var(--sans-serif);
    font-weight: 700;
}

/* Footer */
.bi-arrow-up-circle {
    color: var(--accentclr);
}

@media (max-width: 768px) {
    nav [class*="fa-"] {
        display: none;
    }

    .navbar-brand [class*="fa-"] {
        display: inline;
    }

    .progress {
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {
    .contact-input {
        width: 50%;
    }
}