/* Variables */

:root {
    --primaryclr: #212529;
    --secondaryclr: #496F7A;
    --secondarylightclr: #7c99a1;
    --accentclr: #97504D;
    --textlightclr: #d9d5d2;
    --serif: 'Libre Baskerville', serif;
    --sans-serif: 'Montserrat', sans-serif;
}


/* Main style */
body::before {
    display: block;
    content: '';
    height: 60px;
}

p, .lead {
    font-family: var(--sans-serif);
}

img {
    border-radius: 5px;
    width: 18rem;
}

a {
    text-decoration: none;
    color: var(--textlightclr);
}

a:hover {
    text-decoration: none;
    color: var(--textlightclr);
    text-transform: ;
}


/* Navigation bar */
.navbar-brand,
.navbar-item,
h1,
h2,
h3 {
    font-family: var(--serif);
}

.nav-link {
    color: var(--textlightclr);
}

.nav-link:hover {
    color: var(--secondarylightclr);
    border-bottom: 2px solid var(--secondarylightclr);
}

nav [class*="fa-"] {
    font-size: 200%;
    color: var(--secondaryclr);
    padding: 3px 5px; 
}

.navbar-brand [class*="fa-"] {
    font-size: 100%;
}

nav [class*="fa-"]:hover {
    color: var(--secondarylightclr);
}

/* Buttons */
.btn-cust {
    background-color: var(--secondaryclr);
    border: 2px solid var(--secondaryclr);
    color: var(--textlightclr);
    font-family: var(--sans-serif);
    font-weight: 500;
    margin-left: 20px;
}

.btn-cust:hover,
.inst-cust,
.news-cust {
    background-color: var(--secondarylightclr);
    border: 2px solid var(--secondarylightclr);
    color: var(--textlightclr);
}

.text-cust {
    color: var(--secondarylightclr);
}

/* Cards */
.card {
    border: 1px solid var(--secondarylightclr);
    border-radius: 5px;
}

.card img {
   width: 400px;
   background-color: white;
}

.card-text a {
    color: var(--primaryclr);
    font-weight: 700;
}


.bi-arrow-up-circle {
    color: #8A9CBD;
}

/* Contact me */
.news-input {
    font-family: var(--sans-serif);
    font-weight: 700;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

